.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin: 1rem 0;
}

.product-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}
.product-details {
    padding: 1rem;
    flex: 1;
}
.product-card-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits text color from parent elements */
}

.product-card:hover {
    /* Example hover effect to indicate interactivity */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}
.product-image img {
    width: 100%; /* Make sure image covers the full width */
    height: auto; /* Maintain aspect ratio */
    display: block;
}