@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    left: auto;
    width: 100%;
    background-color: #000000;
    z-index: 9;
}

.nav {
    padding: 20px 10vw;
    display: flex;

}

.logo {
    margin-left: 5px;

}

.logo img {

    width: 100px;
    height: 100px;
    margin-left: 0;
}

.nav {
    padding: 10px 5vw;
}

.search {

    width: 500px;
    display: flex;


}

.search-box {

    width: 50%;
    height: 30px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #ffffff;
    text-transform: capitalize;
    background: none;
    color: #ffffff;
    outline: none;
    border: none;
    border: 1px solid #ffffff;
    margin-left: 50px;
}

.search-btn {
    width: 20%;
    height: 30px;
    padding: 5px 10px;
    border: #ffffff;
    cursor: pointer;
    background: #ffffff;
    font-family: "Lato", sans-serif;
    color: #000000;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.shopping-cart {
    color: #ffffff;
    display: block;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    height: 70px;
    width: 20px;
    margin-top: 43px;
    margin-left: 15px;
    background:
        linear-gradient(
            to left,currentColor 12px,
            transparent 0)
            no-repeat -1px 6px/18px 2px,
        linear-gradient(
            to left,currentColor 12px,
            transparent 0)
            no-repeat 6px 14px/11px 2px,
        linear-gradient(
            to left,currentColor 12px,
            transparent 0)
            no-repeat 0 2px/4px 2px,
        radial-gradient(
            circle,currentColor 60%,
            transparent 40%)
            no-repeat 12px 17px/4px 4px,
        radial-gradient(
            circle,currentColor 60%,
            transparent 40%)
            no-repeat 6px 17px/4px 4px
}
.shopping-cart::after,
.shopping-cart::before {
    content: "";
    display: inline;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 14px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
    
}
.shopping-cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
}

.user {
    display: block;
    transform: scale(var(--ggs,1));
    box-sizing: border-box;
    width: 13px;
    height: 20px;
    margin-top: 44px;
    margin-left: 25px;
    color: #fff;

   }
   
   .user::after,
   .user::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid
   }
   
   .user::before {
    width: 8px;
    height: 8px;
    border-radius: 30px;
    top: 0;
    left: 2px
   }
   
   .user::after {
    width: 12px;
    height: 9px;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 9px
   } 
.heart,
.heart::after {
 border: 2px solid;
 border-top-left-radius: 100px;
 border-top-right-radius: 100px;
 width: 10px;
 height: 8px;
 color: #fff;
 border-bottom: 0
}

.heart {
 box-sizing: border-box;
 position: relative;
 margin-top: 50px;
 margin-left: 20px;
 transform:
 translate(
 calc(-10px / 2 * var(--ggs,1)),
 calc(-6px / 2 * var(--ggs,1))
 )
 rotate(-45deg)
 scale(var(--ggs,1));
 display: block
}

.heart::after,
.heart::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute
}

.heart::after {
 right: -9px;
 transform: rotate(90deg);
 top: 5px
}

.heart::before {
 width: 11px;
 height: 11px;
 border-left: 2px solid;
 border-bottom: 2px solid;
 left: -2px;
 top: 3px
} 
.Sign-up-button,
.Register-button {
    font-family: "Lato", sans-serif;
    width: 10%;
    margin-top: 4%;
    height: 9%;
    background: #ffffff;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 15px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.Sign-up-button:hover,
.Register-button:hover {
    box-shadow: rgb(239, 239, 239);
    transform: scale(1.05) rotate(-1deg);
}

.Sign-up-button {
    margin-left: 4rem;
    margin-right: 1rem;
}

.nav-items a {
    margin-left: 5px;

}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items a img {
    width: 50px;
}

#links-container a {
    margin-left: 12%;


}

.links-container {
    background-color: rgb(175, 101, 101);
    width: 100%;
    display: flex;
    padding: 12px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 2px solid #d1d1d1f9;
    border-bottom: 2px solid #000000f9;
}

.link {
    font-family: "Lato", sans-serif;
    line-height: normal;
    padding: 0 10px;
    font-size: 17px;
    margin: 0 5px;
    text-decoration: none;
    opacity: 0.;
    transition: .5s;
    color: rgb(255, 255, 255);
}

.link:hover {
    color: rgb(0, 0, 0);
    opacity: 10;
}

.main-section {
    width: 100%;
    height: calc(100vh - 150px);
    background-image: url('Images/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.main-section .background {
    height: 150px;
    display: block;
    margin: auto;
}

.sub-heading {
    font-family: "Dancing Script", cursive;
    background-color: rgb(255, 255, 255, 0.5);
    margin-top: 40%;
    color: #000000;
    text-transform: capitalize;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
}

.product {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 15px 0;
    background-color: #000000;

}

#hr {
    color: #000000;
    margin-top: 10px;
    margin-left: 5%;
}

.product-category {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    color: #fff;
    text-transform: capitalize;
}

.product-container {
    padding: 0 5vw;
    display: flex;
    height: 450px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    box-shadow: 0px 0px 10px rgba(213, 210, 210, 0.5);
    width: 260px;
    height: 400px;
    margin-right: 40px;
    border-radius: 15px;
}

.product-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(231, 211, 211), 0px 0px 10px rgb(237, 56, 56), 0px 0px 10px rgb(245, 174, 20);
}

.product-image {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.product-thumb {
    border-radius: 15px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    color: white;
}

.discount-tag {
    position: absolute;
    font-family: "Lato", sans-serif;
    padding: 5px;
    border-radius: 5px;
    color: #eb0f0f;
    background-color: #ffffff;
    right: 10px;
    top: 5px;
    text-transform: capitalize;
}

.card-btn ,.cart-btn {
    position: absolute;
    font-family: "Lato", sans-serif;
    bottom: 10px;
    transform: translateX(-50%);
    outline: 1.5px solid black;
    padding: 10px;
    width: 35%; 
    text-transform: capitalize;
    border: none;
    color: black; 
    background-color: #f5f5f5; 
    border-radius: 2px;
    transition: 0.9s;
    cursor: pointer;
    opacity: 0;

}
.card-btn{
    left: calc(50% + 60px); 
}
.cart-btn{
    right: calc(20% + 50px); 
}

.product-card:hover .card-btn,.product-card:hover .cart-btn {
    opacity: 1;
}

.card-btn:hover ,.cart-btn:hover {
    background: #bdc6c94e;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    color: #fff;
}

.description {
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 20px;
    line-height: 20px;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
    margin-bottom: 5px;
    overflow: hidden;
    color:white;
}

.price {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #cd1313;
    align-items: center;
}

.actual-price {
    color: #ccc;
    margin-left: 15px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
    opacity: 0.2;
}

.pre-btn {
    transform: rotate(180deg);
    left: 0;

}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    height: 5%;
    width: 17%;
    opacity: 0.1;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

footer {
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    
    background: #383838;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.footer-content .logo {
    height: 160px;
}

.footer-ul-container {
    width: 45%;
    display: flex;
    justify-content: space-between;
    
}

.category {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
}

.category-title {
    font-family: "Lato", sans-serif;
    grid-column: span 2;
    text-transform: capitalize;
    color: #f0e6e6;
    font-size: 20px;
    margin-bottom: 20px;
}

.category .footer-link {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
}

.footer-link:hover {
    color: #000000;
}

.footer-title,
.info {
    font-family: "Lato", sans-serif;
    color: rgba(255, 255, 255, 0.75);
    margin: 20px 0;
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 14px;
}

.footer-title {
    margin-top: 80px;
    
}

.footer-social-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
    
}

.social-link {
    color: #000000;
    margin-left: 2px;
    text-transform: capitalize;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    margin-right: 25px;
    font-size: 15px;
}


.footer-credit {
    font-family: "Lato", sans-serif;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #ffffffc7;
    background: rgba(0, 0, 0, 0.2);
}

.copyright ,.main-line {
    font-family: "Lato", sans-serif;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
}
.instagram {
    box-sizing: border-box;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-radius: 4px;
    margin-bottom:10px ;
    width: 20px;
    color: #000000;
    height: 20px
    
}
.instagram::after,
.instagram::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.instagram::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px
}
.instagram::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px
}
.facebook {
    box-sizing: border-box;
    color: #000000;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px
}
.facebook::after,
.facebook::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box
}
.facebook::before {
    width: 8px;
    height: 20px;
    border-left: 4px solid;
    border-top: 4px solid;
    border-top-left-radius: 5px;
    left: 6px
}
.facebook::after {
    width: 10px;
    height: 4px;
    background: currentColor;
    top: 7px;
    left: 4px;
    transform: skew(-5deg)
}

.wishlist-button,.track-button{
    font-family: "Lato", sans-serif;
    width: 10%;
    margin-top: 3%;
    height: 10%;
    background: #ffffff;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 15px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.wishlist-button:hover,
.track-button:hover {
    box-shadow: rgb(239, 239, 239);
    transform: scale(1.05) rotate(-1deg);
}

.wishlist-button {
    margin-left: 4rem;
    margin-right: 1rem;
}
.wishlist-button a {
    text-decoration: none; 
    color: #000000;
}
.cart-background{
background-color: #beb6b697;
}
#my-cart{
    font-family: "Lato", sans-serif;
    font-size: 25px;
    margin-left: 5%;
    width: 10%;
    margin-top: 3.7%;
    height: 10%;
    color: #fff;
    margin-right: 33%;
}
.main-content {
    padding: 20px;
    font-family: "Lato", sans-serif;
    display: flex;
  }
.container{
    font-family: "Lato", sans-serif;
    height:50%;
    width:30%;
    border-radius: 10px;
    border-color: 1px #000000;
    padding:15px;
    background-color: #fff;
}

  .cart-summary {
    font-family: "Lato", sans-serif;
    flex: 1;
    font-size: 14px;
    border-left: 1px solid #ccc;
    padding-left: 20px;

  }
  #total-items,#total-price{
    margin-top: 5%;
    margin-bottom: 3%;
  }
  #summery{
    margin-bottom: 3%;
  }
  .cart-items {
    flex: 2;
    
  }
  
  
  .cart-item {
    margin-bottom: 20px;
  }
  
  .cart-item img {
    max-width: 100px;
  }
  
  .item-details {
    margin-left: 20px;
  }
  
  .item-details h2 {
    
    margin-bottom: 5px;
  }
  
  .item-details p {
    margin-bottom: 10px;
  }
  
  .checkout-btn ,.remove-btn{
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Lato", sans-serif;
    border:none ;
    margin-top: 10px;
    
  }
  
  .checkout-btn:hover,.remove-btn:hover {
    background-color: #494343;

  }