<footer id="footer">
    <div class="footer-content">
      <div class="footer-ul-container">
        <ul class="category">
          <li class="category-title">Contact</li>
          <li><a href="#" class="footer-link">Subscribe</a></li>
          <li><a href="#" class="footer-link">Refer somebody</a></li>
          <li><a href="#" class="footer-link">Blogs</a></li>
          <li><a href="#" class="footer-link">Press</a></li>

        </ul>
        <ul class="category">
          <li class="category-title">Help & info</li>
          <li><a href="#" class="footer-link">Support Centre</a></li>
          <li><a href="#" class="footer-link">Customer Care</a></li>
          <li><a href="#" class="footer-link">Store Location</a></li>
          <li><a href="#" class="footer-link">Return Portal</a></li>
          <li><a href="#" class="footer-link">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <p class="footer-title">About company</p>
    <p class="info">
    <p class="main-line">Lane Wood — Your Destination for Curated Fashion Discoveries.</p>
    <p class="info">
      Welcome to Lane Wood !
    </p>
    <p class="info"> where we curate a handpicked selection of premium brands that share our commitment to style,
      sustainability, and quality craftsmanship. Our platform is a haven for fashion enthusiasts seeking unique pieces
      that reflect their individuality while making a positive impact on the planet.

      From renowned eco-friendly labels to emerging designers pushing the boundaries of creativity, Luna Wood offers a
      diverse range of clothing and accessories that resonate with modern sensibilities. Whether you're drawn to
      minimalist elegance, bohemian charm, or urban edge, our carefully curated collections cater to every style
      inclination and occasion.

      Beyond aesthetics, we prioritize transparency and ethics in our brand selection process. Each label showcased on
      Luna Wood embodies principles of ethical production, fair labor practices, and environmental responsibility,
      ensuring that your fashion choices align with your values.

      Join us in celebrating the artistry of fashion and the beauty of sustainability. Explore our curated selection at
      Luna Wood and embark on a journey of style that makes a difference."
    </p>
    </p>
    <p class="info">support emails - help@clothing.com, customersupport@clothing.com</p>
    <p class="info">telephone - 613-543-4532 , 343-544-5645</p>
    <div>
      <a href="https://www.instagram.com/" class="instagram"></a>
      <a href="https://www.facebook.com/" class="facebook"></a>
    </div>
    <div class="footer-social-container">
      <div>
        <P class="copyright">© 2024 lane Wood . All rights reserved.</P>
        <a href="#" class="social-link">Terms & services</a>
        <a href="#" class="social-link">Privacy page</a>
      </div>

    </div>
    <p class="footer-credit">Online store - lane wood</p>
  </footer>