<!-- Header Component (header.html) -->

<nav class="navbar">
    <div class="nav">
        <!-- Logo -->
        <div class="logo">
            <img src="../../assets/images/logo.png" alt="Logo of the website">
        </div>
        <a href="user.html" class="user"><img src="../../assets/images/user.png" alt="user-Image"></a>
        <a href="cart.html" class="cart"><img src="../../assets/images/cart.png" alt="cart-Image"></a>
        <!-- Search Option  -->
        <div class="nav-items">
            <div class="search">
                <input type="text" class="search-box" placeholder="What are you looking for today?">
                <button type="submit" class="search-btn">search</button>
            </div>
        </div>
        <button class="Sign-up-button" role="button">Sign-up</button>
        <button class="Register-button" role="button">Register</button>
    </div>
</nav>