<!-- Header Component (header.html) -->
    <!-- Background div -->
    <div id="header">
    <nav class="navbar">
        <div class="nav">
            <!-- Logo -->
            <div class="logo">
                <img src="../../assets/images/logo.png" alt="Logo of the website">
            </div>
            <a href="user.html" class="user"><img src="../../assets/images/user.png" alt="user-Image"></a>
            <a href="cart.html" class="cart"><img src="../../assets/images/cart.png" alt="cart-Image"></a>
            <!-- Search Option  -->
            <div class="nav-items">
                <div class="search">
                    <input type="text" class="search-box" placeholder="What are you looking for today?">
                    <button type="submit" class="search-btn">search</button>
                </div>
            </div>
            <button class="Sign-up-button" role="button">Sign-up</button>
            <button class="Register-button" role="button">Register</button>
        </div>
        </div>
    </nav>

    <!-- Navigation links -->
    <nav class="links">
        <ul class="links-container">
            <li class="link-item"><a href="#" class="link">Home</a></li>
            <li class="link-item"><a href="#" class="link">Featured</a></li>
            <li class="link-item"><a href="#" class="link">Sweaters</a></li>
            <li class="link-item"><a href="#" class="link">Clothing</a></li>
            <li class="link-item"><a href="#" class="link">About Us</a></li>
        </ul>
    </nav>
</div>